{{!< default}}

<section class="error-page">
    <h1 class="cactus-title">404 | Oops something went wrong</h1>
    <p>{{t "The page you were looking for could not be found."}}</p>
    <p><a href="{{@site.url}}">{{t "Go home"}}</a></p>
</section>
