{{!< default}}

{{#post}}
<section class="photos-intro">
    <h1 class="cactus-title">{{title}}</h1>
    {{#if custom_excerpt}}
        <p>{{custom_excerpt}}</p>
    {{/if}}
    <div class="cactus-content">
        {{content}}
    </div>
</section>
{{/post}}

<section class="photo-section">
    <div class="photo-feed">
        <div class="grid-item grid-sizer"></div>
        {{#get "posts" filter="tag:[gallery,hash-gallery,photography,hash-photography]" limit="100" include="tags" order="published_at desc" formats="html" as |gallery_posts|}}
            {{#foreach gallery_posts}}
                {{#has tag="gallery"}}
                    {{> "photo-card"}}
                {{else}}
                    {{#has tag="#gallery"}}
                        {{> "photo-card"}}
                    {{/has}}
                {{/has}}
                {{> "photo-body-source"}}
            {{/foreach}}
        {{/get}}
    </div>
</section>
