{{!< default}}

{{#tag}}
<header class="archive-header">
    <h1 class="cactus-title">{{name}}</h1>
    {{#if description}}
        <p>{{description}}</p>
    {{/if}}
</header>
{{/tag}}

<section class="cactus-section archive-section">
    <ul class="post-list" role="list">
        {{#foreach posts}}
            {{> "post-preview"}}
        {{/foreach}}
    </ul>
    {{pagination}}
</section>
